<div class="container-fluid bg-light navbar-bottom py-4">
  <h2 class="text-center mb-0">
    Liste des développeurs
  </h2>
  <h6 class="text-muted text-center">
    Retrouvez tout les développeurs du monde !
  </h6>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 bg-light py-4 rounded mt-4 border">
      <app-search-developer></app-search-developer>
    </div>
  </div>
</div>

<div class="container mb-5" *ngIf="developers">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-lg-3" *ngFor="let developer of developers; let i = index;">
      <div class="card-group mb-3">
        <div class="card" style="width: 18rem;">
          <img src="{{ developer.image_background }}" class="card-img-top img-card" alt="Image de {{ developer.name }}">
          <div class="card-body pl-2 pr-2 text-center">
            <h6 class="card-title font-weight-bold mb-0">
              <a (click)="onSingleDeveloper(developer.slug)" style="cursor: pointer;" class="text-red">
                {{ developer.name }}
              </a>
            </h6>
            <p class="mb-0">Nombre de jeux : <span class="font-weight-bold">{{ developer.games_count }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center py-4">
    <app-pagination [count]="count" [next]="next" [paginationName]="paginationName"></app-pagination>
  </div>
</div>

<app-loader *ngIf="!developers"></app-loader>


